{% extends 'user/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h3>Contact Us</h3>
        <p>
            Have a question or feedback for us? Feel free to get in touch using the form below.
        </p>

        <form method="POST" action="{{ url_for('main.contact') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" rows="5" placeholder="Your Message"></textarea>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="container">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
